<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>NSCameraUsageDescription</key>
    <string>User Camera shall be used to capture the images that can be recorded during your audit process. Without Camera Usage, user cannot take any pics of the elements they are auditing.</string>
	
	<key>NSLocationWhenInUseUsageDescription</key>
    <string>User Location shall be used to identify their audit location precisely as most of the features in the app need the user to be within a specific location while conducting the audit. Without this location, the user cannot confirm the venue from which the audit process is conducted.</string>

	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>NSContactsUsageDescription</key>
	<string>App need user to send Audit and review information captured at user end. There is no personal information collected </string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
</dict>
</plist>
